.background{
    display:flex;
    justify-content:center;
    background-color:black;
    
    color:White;
    font-family: 'Courier New', sans-serif, monospace;
    font-size:38px;
    text-decoration:underline;
    text-transform:capitalize;
    
    border-radius: 10px;
}

.nav{
    display:flex;
    justify-content:right;
    padding:7px;
    background-color:bisque;
    color:White;
    font-family: 'Courier New', sans-serif, monospace;
    font-size: 23px;
    box-shadow:inset 4px 0px gold, 4px 4px gold;
    border-radius:10px;
}

ul{
    list-style-type: none;
    display:flex;
}

li{
    margin-left:100px;
}

.substance{

}

.challenge-1_snippet.img{

}

.image-holder{

}

.image-holder{

}

.image-holder{

}

.image-holder{

}

